<div>
    <user-input></user-input>
    
    <div>
        <div ng-show="tabController.user">
        <div class="list-group col-md-6">
            <a href="" class="list-group-item" ng-click="tabController.onUser()"> Show results</a>
            <a href="" class="list-group-item" ng-click="tabController.onChangeTab('user')"> {{tabController.user}}'s To Dos<span class="badge">2</span></a>
            <a href="" class="list-group-item" ng-click="tabController.onChangeTab('all')"> All To Dos<span class="badge">12</span></a>
        </div>
    </div>
        
            <div ng-switch='tabController.selectedTab'>
                <div ng-switch-when='user'>
                    <user-to-do></user-to-do>
                </div>
                <div ng-switch-when='all'>
                    <all-to-do></all-to-do>>
                </div>
            </div>
        </div>
        <!--
        <li ng-repeat="item in tabController.data" class="list-group col-md-12">
            <span class="list-group-item">{{item.user}}</span>
        </li>
        -->
</div>